name: End-to-End Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:  # Isso permite o acionamento manual do workflow

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Install dependencies
        run: npm install

      - name: Start Docker containers
        run: |
          cd Ambiente  # Navega para o diretório onde está o docker-compose.yml
          sudo docker-compose up --build -d

      - name: Cypress run
        env:
          baseUrl: 'http://localhost:5400'  # Define o baseUrl como variável de ambiente
        run: |
          npx cypress run --headless --browser chrome --spec "cypress/integration/*.spec.js"
